// Place all the styles related to the todoitems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.check {
border-style: solid;
border-width: 5px;
border-color:green;
}
.nocheck {
border-style: solid;
border-width: 5px;
border-color:red;
}